:root {
    --cor-fundo: #0e0101;
    --cor-principal: #200b0b ;
    --cor-secundaria: #332121;
    --cor-destaque: #ff0000;
    --cor-texto: #D7F9FF;
    --imagem-fundo: url('images\ \(1\).jpg'); /* Substitua pelo caminho correto da imagem */
    --imagem-fundo-mobile: url('images\ \(1\).jpg'); /* Imagem para dispositivos móveis (opcional) */
}
  
body {
    background-color: var(--cor-fundo);
    background-image: var(--imagem-fundo);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Garante que a imagem de fundo fique fixa ao rolar a página */
    color: var(--cor-texto);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media (max-width: 768px) {
    body {
        background-image: var(--imagem-fundo-mobile); /* Usando imagem diferente para telas menores */
    }
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    z-index: 1; /* Garante que o conteúdo tenha prioridade sobre o fundo */
}

h1, .caixa-perguntas, .caixa-resultado{
    font-family: 'Chakra Petch', sans-serif;
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

.caixa-resultado{
    display: none;
}

.caixa-resultado.mostrar{
    display: block;
}

.caixa-alternativas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
